<div class="modal-body">
  <form id="myForm" method="post">

    <!--
    <input type="hidden" value="hello" id="myField">
    <input value="hello" id="myField">
      <button id="myFormSubmit" type="submit">Submit</button>
        </form><a href="#myModal" role="button" class="btn btn-default" data-toggle="modal">Launch demo modal</a>
        -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Job Configuration</h3>
              </div>
                <div class="modal-body">
                  <p>One fine body…</p>
                </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>

